/* Common Styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px;
    border: none;
    cursor: pointer;
}

/* nav styles here */
header {
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 24px;
}

nav ul li a {
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}

/* Banner area styles */
.banner-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-content {
    text-align: center;
    margin-top: 100px;
}

.banner-title,
.banner-description {
    margin-top: 30px;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 20px;
}

.banner-area img {
    max-width: 1140px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
}

/* Feature section styles */
.features-area {
    margin-top: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-title {
    margin-bottom: 24px;
}

.quick-list {
    color: #727272;
    font-size: 4rem;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.mini-featuretxt {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.feature-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

/* Enjoy area styles here */
.enjoy {
    display: flex;
    justify-content: space-around;
    margin-top: 169px;
}

.enjoy>img {
    max-width: 700px;
    border-radius: 8px;
    position: relative;
}

.enjoy-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    max-width: 468px;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}

.enjoy-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 586px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.enjoy-box {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    padding: 30px;
}

.enjoy-box-title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.enjoy-box-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 514px;
}

/* Facts area styles here */
.facts-content{
    margin-top: 150px;
    margin-left: 35px;
    margin-bottom: 100px;
}

.facts-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.facts-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 542px;
}

.facts-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
}

.facts-box {
    border-radius: 8px;
    border: 5px solid #FF900E;
    padding: 80px;
    margin-right: 100px;

}

.facts-stats {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
}

.fact-term {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

/* Responsive for mobile */
@media screen and (max-width : 576px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 1.125rem;
    }

    .banner-area img {
        max-width: 90%;
    }

    .banner-title {
        font-size: 48px;
    }

    .features-area {
        flex-direction: column;
    }

    .feature-image-container {
        grid-template-columns: 1fr;
    }

    .enjoy {
        flex-direction: column;
    }

    .facts-container {
        flex-direction: column;
    }
    .facts-content{
        text-align: center;
    }
    p.facts-description{
       margin: 0px auto;
    }
.facts-box{
    margin: 0px  auto;
    padding: 100px;
}
    .facts-description {
        max-width: 319px;
    }
}

/* Responsive for medium Devices */
@media screen and (min-width :576px) and (max-width : 992px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .banner-area img {
        width: 100%;
        height: auto;
    }

    .features-area {
        flex-direction: column;
        align-items: center;
    }

    .feature-image-container {
        grid-template-columns: 1fr;
    }

    .enjoy {
        flex-direction: column;
        align-items: center;
    }
}