/* Common Styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav styles here */
header {
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 24px;
}

nav ul li a {
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}
/* Responsive for mobile */
@media screen and (max-width : 576px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }
    nav ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
/* Responsive for medium Devices */
@media screen and (min-width :576px ) and (max-width : 992px) {
    nav{
        flex-direction: column;
    }
    nav ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}